*{

}
.nav{display: flex;

}
.header ul{
list-style: none;
display: flex;
flex-direction: row;
flex-wrap: wrap;

}
.header ul li a{
text-decoration: none;
margin: 20px;
color: white;
}
.header button{
    background-color: lightskyblue;
    color: white;
}